
.container {
  background: white;
  padding: 1em;
}

button {
  padding: 1em;
  width: 100%;
  text-align: center;
}

.centered, .centered h1, .centered p {
  text-align: center;
  margin: 0 auto;
}
